@font-face {
    font-family: 'steamed-regular';
    src: url('steamed-regular-webfont.woff2') format('woff2'),
         url('steamed-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap');

html, body{
    margin: 0px;
    padding: 0px;
    font-family: 'Baloo Chettan 2', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #3F1050;

    background-image: url(/img/footer_bg.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100% auto;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'steamed-regular';
    text-transform: uppercase;
    text-align: center;
}

h2{
    color:#3F1050;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    margin-bottom: 0px;
    letter-spacing: 0.16em;
}

/* Background items */

img.left-bg {
    position: absolute !important;
    left: 5%;
}

img.center-bg {
    position: absolute !important;
    bottom: -10em;
    left: 0;
    width: 100%;
}

img.right-bg {
    position: absolute !important;
    right: 5%;
}

/* Fix for backgrounds */
.hero,
.header, .header *,
#mission, #mission *,
footer, footer *,
h2 {
    position: relative;
    z-index: 2;
}

/* header and nav */

.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: linear-gradient(180deg, #16152B 50.3%, rgba(22, 21, 43, 0) 99.79%);
}

#logo{
    display: flex;
    align-items: center;
}

#logo img{
    width: 200px;
    padding: 1em;
    padding-bottom: 2px;
}

nav {
    display: none;
}

nav a{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    color: #F8FFFF;
    padding: 0.5em;
    margin: 1em;
    text-align: right;
}

@media (min-width: 1200px) {
    nav{
        display: block;
        align-self: center;
    }
}

.header .links {
    display: flex;
}

/* Hero section */

img.hero-bg {
    position: absolute;
    width: 100%;
    max-height: 100vh;
    z-index: 1;
}

.hero {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
}

.hero div, .hero div h3 {
    text-align: left;
}

.hero img {
    max-width: 40vw;
    margin: 0 auto;
    align-self: baseline;
}

.tagline {
    font-family: 'steamed-regular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #F8FFFF;
    margin-top: -4em;
}

@media (min-width: 720px) { 
    .tagline {
        font-size: 32px;
        line-height: 60px;
        text-align: left;
    }
}

@media (min-width: 1200px) { 
    .tagline {
        font-size: 48px;
    }
}

/* Mission section */

#mission img.right-bg {
    margin-top: -40vh;
}

/* FAQ section */

#faq {
    background-image: url(/img/hero_lower_bg.png),
        linear-gradient(0deg, #5E1978 4.98%, rgba(170, 10, 207, 0.3) 68.39%, rgba(165, 10, 201, 0.32684) 71.28%, #290833 143.86%, #06FFFE 143.87%),
        linear-gradient(0deg, #5E1978, #5E1978);
    background-size: contain;
    background-repeat: no-repeat;
}

#faq hr {
    color: #3F1050;
}

#faq .textbox p {
    margin-bottom: 2em;
}

#faq h3{
    text-align: left;
    margin-bottom: 0;
}

#faq .alignment-container {
    position: relative;
    display: flex;
    justify-content: center;
}
#faq .alignment-container .textbox {
    margin-left: 1em;
    margin-right: 1em;
}

.container {
    padding: 0 1em;
}

.container-wide {
    padding: 0em;
}

@media (min-width: 720px) {
    .container{
        padding: 0 3em;
    }
}

.offset-header {
    max-width: 46em;
    margin: auto;
}

.textbox {
    position: relative;
    z-index: 10;
    max-width: 38em;
    margin: 4em auto 0;
    padding:0.5em 1em;
    background: #F8FFFF;

    /* Orchid/08 */
    border: 4px solid #3F1050;

    /* Dropshadow */
    box-shadow: -1px 5px 0px #3F1050, -1px 0px 0px #3F1050, 0px 5px 0px #3F1050;
    border-radius: 24px;
}

.textbox p {
    text-align: justify;
}

/* Community section */

#community {
    background: linear-gradient(180deg, #5E1978 24.36%, #06FFFE 100%);
    display: block;
    margin: auto;
}

#community h2{
    margin-top: 0em;
    padding-top: 2em;
    margin-left: 1em;
    color: #06FFFE;
}

.community-container{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    margin-top: 2em;
}

@media (min-width: 720px) { 
    .community-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1200px) { 
    .community-container{
        grid-template-columns: repeat(3, 1fr);
    }
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.community-container .column:nth-child(odd){
    margin-top: 10vh;
}

.community-post {
    align-self: auto;
    padding: 1em;
    margin: 2em 1.5em;
    background: #F8FFFF;
    border: 4px solid #3F1050;
    box-shadow: -1px 5px 0px #3F1050, -1px 0px 0px #3F1050, 0px 5px 0px #3F1050;
    border-radius: 24px;
    margin-top: 0;
}

@media (min-width: 1200px) { 
    .community-post {
        margin: 2em 2.5em;
    }
}

.community-member {
    display: flex;
}

.community-member img {
    border-radius: 50%;
}

.community-member span {
    padding: 1em;
    align-self: center;
    color: #7069D8;
    font-family: 'Baloo Chettan 2';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
}

/* Team section  @fixme - add bg image to section*/

#team h2 {
    text-align: center;
}

#team .team-list {
    display: flex;
    flex-direction: column;
    padding: 2em 10em;
}

@media (min-width: 1200px) {
    #team .team-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.team-member {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
}

.team-member h4 {
    color: #3F1050;
}

.team-member p {
    margin-bottom: 0;
    text-align: left;
    font-weight: 700;
}

.team-member .content {
    padding: 1em;
    min-width: 300px;
}

.team-member h4 {
    font-size: 30px;
    line-height: 40px;
    margin: 0;
    text-align: left;
    display: inline-block;
}

.team-member img {
    max-width: 108px;
    max-height: 108px;
}

.team-member h4{
    font-size: 1.7em;
}

.team-member a{
    color: #9D29C8;
    text-decoration: none;
    font-size: 1.5em;
    padding: 1em;
}

i{
    font-style: normal;
}

.btn{
    padding: 14px 18px;
    background: #9D29C8;
    border: 2px solid #3F1050;
    box-shadow: -1px 5px 0px #3F1050, -1px 0px 0px #3F1050, 0px 5px 0px #3F1050;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'steamed-regular';
    color:white;
}

/* common bgs */

.light{
    background-color: #06FFFE;
}

.purple {
    background-color: #9d29c8;
}

.gradient {
    background: linear-gradient(170.71deg, #C2FFFB -5.26%, #C174F0 101.66%);
}

/* footer styles */

footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: white;
    padding: 1em;
    font-size: 0.8em;
    background: linear-gradient(0deg, #16152B -23.56%, rgba(22, 21, 43, 0) 77.11%);
}

/* footer no bg on mint page */
.purple footer {
    background: none;
}

footer a {
    color: #F8FFFF;
    text-transform: capitalize;
    text-decoration: none;
    padding: 1em;
}

footer .links {
    flex-grow: initial;
}

.links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 2;
}

.links a {
    font-size: 1.5em;
    padding: 0 0.5em;
    text-decoration: none;
    color: #F8FFFF;
}


@media (min-width: 1600px) { 
    .team-list{
        justify-content: center;
    }
}


@media (min-width: 720px) { 

    h2 {
        font-size: 120px;
        line-height: 120px;
    }
    
    #logo img{
        width: 180px;
    }

    .textbox{
        padding:0.5em 4em;
    }

    footer{
        font-size: 1em;
    }
}
