@font-face {
    font-family: 'steamed-regular';
    src: url('steamed-regular-webfont.woff2') format('woff2'),
         url('steamed-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap');

html, body{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Baloo Chettan 2', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #3F1050;

    background-image: url(/img/footer_bg.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100% auto;
}

button {
    font-size: 20px;
    box-shadow: -3.80848px 3.23968px 0px #3F1050;
    border-radius: 24px;
}

body.purple {
    background-image: url("../img/geometric.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'steamed-regular';
    text-transform: uppercase;
    text-align: center;
}

h2 {
    color:#3F1050;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    margin-bottom: 0px;
    letter-spacing: 0.16em;
}

h3 {
    margin: 0;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
}

span.small {
    font-size: 0.8em;
}

[hidden] {
    display: none !important;
}

/* Background items */

img.left-bg {
    position: absolute !important;
    left: 5%;
}

img.center-bg {
    position: absolute !important;
    bottom: -10em;
    left: 0;
    width: 100%;
}

img.right-bg {
    position: absolute !important;
    right: 5%;
}

/* Fix for backgrounds */
.hero,
header, header *,
#mission, #mission *,
footer, footer *,
h2 {
    position: relative;
    z-index: 2;
}

/* header and nav */

header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: linear-gradient(180deg, #16152B 50.3%, rgba(22, 21, 43, 0) 99.79%);
    position: relative;
    z-index: 10;
}

#logo{
    display: flex;
    align-items: center;
}

#logo img{
    width: 200px;
    padding: 1em;
    padding-bottom: 2px;
}

nav {
    display: none;
}

nav a{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    color: #F8FFFF;
    padding: 0.5em;
    margin: 1em;
    text-align: right;
}

@media (min-width: 1200px) {
    nav{
        display: block;
        align-self: center;
    }
}

.header .links {
    display: flex;
}

/* Hero section */

img.hero-bg {
    position: absolute;
    width: 100%;
    max-height: 100vh;
    z-index: 1;
}

.hero {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh;
}

.hero img {
    max-width: 40vw;
    margin: -100px auto;
    align-self: baseline;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hero-content a {
    margin-top: 1em;
    text-decoration: none;
}

.tagline {
    font-family: 'steamed-regular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #F8FFFF;
    margin-top: -4em;
}

@media (min-width: 720px) { 
    .tagline {
        font-size: 32px;
        line-height: 60px;
        text-align: left;
    }
}

@media (min-width: 1200px) { 
    .tagline {
        font-size: 48px;
    }
}

/* Mission section */

#mission img.left-bg {
    width: 660px;
    transform: rotate(-90deg);
    left: -10vw;
    opacity: 0.6;
}

#mission img.right-bg {
    margin-top: -40vh;
}

/* FAQ section */

#faq {
    background-image: url(/img/hero_lower_bg.png),
        linear-gradient(0deg, #5E1978 4.98%, rgba(170, 10, 207, 0.3) 68.39%, rgba(165, 10, 201, 0.32684) 71.28%, #290833 143.86%, #06FFFE 143.87%),
        linear-gradient(0deg, #5E1978, #5E1978);
    background-size: inherit;
    background-repeat: no-repeat;
}

#faq img.right-bg {
    max-width: 40vw;
}

#faq hr {
    color: #3F1050;
}

#faq .textbox p {
    margin-bottom: 2em;
}

#faq h3{
    text-align: left;
    margin-bottom: 0;
}

#faq .alignment-container {
    position: relative;
    display: flex;
    justify-content: center;
}
#faq .alignment-container .textbox {
    padding-top: 2em;
}

.container {
    max-width: 1440px;
    margin: auto;
    padding: 0 1em;
}

.container-wide {
    padding: 0em;
}

@media (min-width: 720px) {
    .container{
        padding: 0 3em;
    }
}

.offset-header {
    max-width: 46em;
    margin: auto;
}

.textbox {
    position: relative;
    z-index: 10;
    max-width: 38em;
    margin: 4em auto 0;
    padding:0.5em 1em;
    background: #F8FFFF;
    border: 4px solid #3F1050;
    box-shadow: -3.80848px 3.23968px 0px #3F1050;
    border-radius: 24px;
}

.textbox p {
    text-align: justify;
}

/* Community section */

#community {
    background: linear-gradient(180deg, #5E1978 24.36%, #06FFFE 100%);
    display: block;
    margin: auto;
    padding-top: 5em;
}

#community h2 {
    margin-top: 0em;
    margin-left: 1em;
    max-width: 1440px;
    margin: auto;
    color: #06FFFE;
}

#community img.left-bg {
    left: 0;
    margin-top: 25vh;
}

#community img.right-bg {
    right: 0;
    margin-top: 25vh;
}

.community-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    margin-top: 2em;
    padding: 0 4em;
    max-width: 1440px;
    margin: auto;
    position: relative;
    z-index: 3;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.community-post {
    align-self: auto;
    padding: 1em;
    margin: 2em 1.5em;
    background: #F8FFFF;
    border: 4px solid #3F1050;
    box-shadow: -1px 5px 0px #3F1050, -1px 0px 0px #3F1050, 0px 5px 0px #3F1050;
    border-radius: 24px;
    margin-top: 0;
    font-size: 14px;
    line-height: 21px;
}

.community-container .column:nth-child(1) {
    display: none;
}

@media (min-width: 720px) { 
    .community-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .community-container .column:nth-child(odd) {
        margin-top: 10vh;
    }
    .community-container .column:nth-child(1) {
        display: flex;
    }
    .community-container .column:nth-child(2) {
        display: none;
    }
}

@media (min-width: 1200px) { 
    .community-container {
        grid-template-columns: repeat(3, 1fr);
    }
    .community-container .column:nth-child(2) {
        display: flex;
    }
    .community-post {
        margin: 2em 1.5em;
    }
}

.community-member {
    display: flex;
    align-items: center;
}

.community-member img {
    border-radius: 50%;
    height: 44px;
    width: 44px;
}

.community-member span {
    padding: 1em;
    align-self: center;
    color: #7069D8;
    font-family: 'Baloo Chettan 2';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
}

/* Team section */

.team-list {
    display: flex;
    flex-direction: column;
}

@media (min-width: 1200px) {
    #team .team-list {
        display: grid;
        grid-template-columns: 50% 50%;
    }
}

.team-member {
    display: flex;
    align-items: center;
    padding: 1em 0.5em;
}

.team-member h4 {
    color: #3F1050;
    white-space: nowrap;
}

.team-member p {
    margin-bottom: 0;
    text-align: left;
    font-weight: 700;
    font-size: 16px;
}

.team-member .content {
    padding: 1em;
}

.team-member h4 {
    font-size: 30px;
    line-height: 40px;
    margin: 0;
    text-align: left;
    display: inline-block;
}

.team-member img {
    max-width: 108px;
    max-height: 108px;
}

.team-member h4{
    font-size: 1.7em;
}

.team-member a{
    color: #9D29C8;
    text-decoration: none;
}

i{
    font-style: normal;
}

.btn {
    padding: 14px 18px;
    background: #9D29C8;
    border: 2px solid #3F1050;
    box-shadow: -1px 5px 0px #3F1050, -1px 0px 0px #3F1050, 0px 5px 0px #3F1050;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'steamed-regular';
    color:white;
}
.btn.padded {
    padding: 1em 2.5em;
}
.btn:disabled {
    background: #E2E1F7;
    border: none;
    box-shadow: none;
    color: #C6C3EF;
    cursor: not-allowed;
}

/* common bgs */

.light{
    background-color: #06FFFE;
}

.purple {
    background-color: #7E21A0;
}

.gradient {
    background: linear-gradient(170.71deg, #C2FFFB -5.26%, #C174F0 101.66%);
}

/* footer styles */

footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    text-transform: uppercase;
    margin-top: 5em;
    padding: 1em;
    font-size: 0.8em;
    font-weight: 700;
    background: linear-gradient(0deg, #16152B -23.56%, rgba(22, 21, 43, 0) 77.11%);
}

footer *:nth-child(2) {
    text-align: center;
}

/* footer no bg on mint page */
.purple footer {
    background: none;
}

footer a {
    color: #F8FFFF;
    text-transform: capitalize;
    text-decoration: none;
    padding: 1em;
}

footer .links {
    flex-grow: initial;
}

.links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 2;
}

.links a {
    font-size: 1.5em;
    padding: 0 0.5em;
    text-decoration: none;
    color: #F8FFFF;
}


/* Mint */

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    position: relative;
    z-index: 1;
}

#mint-container {
    width: 1440px;
    max-width: 80%;
    min-height: 80%;
    background: #F8FFFF;
    border: 4px solid #3F1050;
    box-shadow: -1px 5px 0px #3F1050, -1px 0px 0px #3F1050, 0px 5px 0px #3F1050;
    border-radius: 24px;
    margin-top: 5em;
    padding: 1em 0em 2em 0em;
}

.mint-section {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
}

.mint-content {
    padding : 1em 1em 0;
    flex-grow: 1;
}

.mint-content > div,
.mint-content > p {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1.5em;
}

.mint-section label {
    display: block;
    font-family: 'steamed-regular';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    margin-bottom: 0.5em;
}

.mint-section img {
    max-width: 80%;
}

.mint-header {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.mint-header button {
    align-self: center;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: -10px;
}

.mint-header h2 {
    margin: 0;
    font-size: 32px;
    align-self: center;
    padding: 0em 0.5em;
}

.mint-section .address-display {
    width: 100%;
    background: #3F1050;
    border-radius: 8px;
    padding : 1em;
    color: white;
    display: block;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    box-sizing: border-box;
    margin-bottom: 1em;
}

.mint-header .address-display {
    font-weight: 700;
    text-transform: uppercase;
}

.mint-bar {
    background: #5E1978;
    border: 2px solid #3F1050;
    height: 1.8em;
    box-sizing: border-box;
    box-shadow: -3.80848px 3.23968px 0px #3F1050;
    border-radius: 32px;
    padding:0em !important;
}

#minted {
    display: inline-block;
    background: linear-gradient(90deg, #9BFFFF 0%, #9D29C8 100%);
    border: 2px solid #3F1050;
    box-sizing: border-box;
    border-radius: 32px;
    width: 80%;
    padding-left: 1em;
    font-weight: 700;
    white-space: nowrap;
}

.message {
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 2.5em;
}

.message.info {
    color: #C47FDE;
}
.message.success {
    color: #049998;
}
.message.error {
    color: #EE62B6;
}

.mint-qty {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.mint-qty > * {
    margin: 0 1em 0 0;
}
.mint-qty button {
    padding: 10px 16px;
}

.disclaimer-prompt {
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
}

.legal-cb {
    display: flex;
    max-width: 100%;
    align-items: center;
}
.legal-cb input {
    margin: 0 1em 0 0;
}
.legal-cb label {
    font-family: 'Baloo Chettan 2', cursive;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-transform: none;
    margin: 0;
}

.socials a {
    font-size: 1.5em;
    padding: 0 0.5em;
    text-decoration: none;
    color: #9D29C8;
}

.disconnect {
    float: right;
    margin-top: -2em;
    display: flex;
    color: #9D29C8;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    background: none;
    border: none;
    box-shadow: none;
    cursor: pointer;
}

/* Media */

@media (min-width: 720px) { 

    h2 {
        font-size: 120px;
        line-height: 120px;
    }
    
    #logo img{
        width: 180px;
    }

    .textbox{
        padding:0.5em 4em;
    }

    #mint-container{
         padding: 1em 2em 2em;
     }

    .mint-header h3 {
        font-size: 48px;
    }

    footer {
        font-size: 1em;
    }
}
