@font-face {
    font-family: 'steamed-regular';
    src: url('steamed-regular-webfont.woff2') format('woff2'),
         url('steamed-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap');

html, body{
    margin: 0px;
    padding: 0px;
    font-family: 'Baloo Chettan 2', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #3F1050;

    background-image: url(/img/footer_bg.png);
    background-repeat: no-repeat;
    background-position: center bottom;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'steamed-regular';
    text-transform: uppercase;
    text-align: center;
}

h2{
    color:#3F1050;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    margin-bottom: 0px;
}

/* Fix for backgrounds */
section *,
header *,
footer * {
    z-index: 2;
}

/* header and nav */

.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: linear-gradient(180deg, #16152B 50.3%, rgba(22, 21, 43, 0) 99.79%);
}

#logo{
    display: flex;
    align-items: center;
}

#logo img{
    width: 200px;
    padding: 1em;
    padding-bottom: 2px;
}

nav {
    display: none;
}

nav a{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    color: #F8FFFF;
    padding: 0.5em;
    margin: 1em;
    text-align: right;
}

@media (min-width: 1200px) {
    nav{
        display: block;
        align-self: center;
    }
}

.header .links {
    display: flex;
}

/* Hero section */

img.hero-bg {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 1;
}

.hero {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.hero div, .hero div h3 {
    text-align: left;
}

.hero img {
    max-width: 40vw;
    margin: auto;
}

.tagline {
    font-family: 'steamed-regular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #F8FFFF;
    margin-top: -4em;
}

@media (min-width: 720px) { 
    .tagline {
        font-size: 32px;
        line-height: 60px;
        text-align: left;
    }
}

@media (min-width: 1200px) { 
    .tagline {
        font-size: 48px;
    }
}

/* FAQ section */

#faq {
    background-image: url(/img/hero_lower_bg.png), linear-gradient(0deg, #5E1978 4.98%, rgba(170, 10, 207, 0.3) 76.96%, rgba(170, 10, 207, 0.3) 76.96%, #290833 143.86%, #7E21A0 143.87%);;
    background-size: contain;
    background-repeat: no-repeat;
}

#faq hr {
    color: #3F1050
}

#faq .textbox p {
    margin-bottom: 2em;
}

#faq h3{
    text-align: left;
    margin-bottom: 0;
}

.container{
    padding:1em;
}

.container-wide{
    padding:1em 0em;
}


.offset-header {
    max-width: 46em;
    margin: auto;
}

.textbox{
    max-width: 38em;
    margin: 4em auto;
    padding:0.5em 1em;
    background: #F8FFFF;

    /* Orchid/08 */
    border: 4px solid #3F1050;

    /* Dropshadow */
    box-shadow: -1px 5px 0px #3F1050, -1px 0px 0px #3F1050, 0px 5px 0px #3F1050;
    border-radius: 24px;
}

.textbox p {
    text-align: justify;
}

/* Community section @fixme columns don't wrap well in mobile, change to wrapped rows?*/

#community {
    background: linear-gradient(180deg, #5E1978 24.36%, #05CCCB 100%);
    display: block;
    margin: auto;
}

#community h2{
    margin-top: 0em;
    margin-left: 1em;
}

.community-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2em;
}

.community-post {
    padding: 1em;
    margin: 2em 1em;
    max-width: 434px;
    background: #F8FFFF;
    border: 4px solid #3F1050;
    box-shadow: -1px 5px 0px #3F1050, -1px 0px 0px #3F1050, 0px 5px 0px #3F1050;
    border-radius: 24px;
    margin-top: 0;
}

.community-member {
    display: flex;
}

.community-member img {
    border-radius: 50%;
}

.community-member span {
    padding: 1em;
    align-self: center;
    color: #7069D8;
    font-family: 'Baloo Chettan 2';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
}

/* Team section  @fixme - add bg image to section*/

#team h2 {
    text-align: center;
}

.team-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team-member img{
    width: 166px;
    display: block;
    text-align: left;
    margin:-4em auto;
    border: 4px solid #5E1978;
    filter: drop-shadow(-1px 5px 0px #3F1050) drop-shadow(-1px 0px 0px #3F1050) drop-shadow(0px 5px 0px #3F1050);
    border-radius: 100px;
}

.team-member{
    padding:0.5em 1em;
    background-color: white;
    max-width: 338px;
    margin: 1em;
    margin-top: 4em;
    background: #F8FFFF;
    border: 4px solid #5E1978;
    box-shadow: -1px 5px 0px #3F1050, -1px 0px 0px #3F1050, 0px 5px 0px #3F1050;
    border-radius: 24px;
    text-align: center;
    font-weight: 700;
}

.team-member h4{
    margin : 3em 0em 0em 0em;
    font-size: 1.7em;
    color: #D8A9E9;
    text-shadow: -1px 5px 0px #3F1050, -1px 0px 0px #3F1050, 0px 5px 0px #3F1050;
}

.team-member a{
    color:#9c28c7;
    text-decoration: none;
    font-size: 1.5em;
    display: block;
    padding: 1em;
}

i{
    font-style: normal;
}

.btn{
    padding: 14px 18px;
    background: #9D29C8;
    border: 2px solid #3F1050;
    box-shadow: -1px 5px 0px #3F1050, -1px 0px 0px #3F1050, 0px 5px 0px #3F1050;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'steamed-regular';
    color:white;
}

/* common bgs */

.light{
    background-color: #06FFFE;
}

.purple {
    background-color: #9d29c8;
}

.gradient {
    background: linear-gradient(170.71deg, #C2FFFB -5.26%, #C174F0 101.66%);
}

/* footer styles */

footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: white;
    padding: 1em;
    font-size: 0.8em;
    background: linear-gradient(0deg, #16152B -23.56%, rgba(22, 21, 43, 0) 77.11%);
}

/* footer no bg on mint page */
.purple footer {
    background: none;
}

footer a {
    color: #F8FFFF;
    text-transform: capitalize;
    text-decoration: none;
    padding: 1em;
}

footer .links {
    flex-grow: initial;
}

.links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 2;
}

.links a {
    font-size: 1.5em;
    padding: 0 0.5em;
    text-decoration: none;
    color: #F8FFFF;
}


@media (min-width: 1600px) { 
    .team-list{
        justify-content: center;
    }
}


@media (min-width: 720px) { 

    h2 {
        font-size: 120px;
        line-height: 120px;
    }
    
    #logo img{
        width: 180px;
    }

    .textbox{
        padding:0.5em 4em;
    }

    .container{
        padding: 3em;
    }

    footer{
        font-size: 1em;
    }
}
